@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-color: #2078CA;
    --secondary-color: #071847 ;
    --accent-color: #F992C9;
    --bg-color: #F9F5F1;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
}

.top {
    margin-top: 0;
    background-image: url("../img/top.JPEG");
    background-size: cover;
    width: 100vw;
    height: 80%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.top-title {
    position: relative;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-title h1 {
    margin: 0;
    width: auto;
    max-width: 100%;
    color: var(--bg-color);
    font-family: "Noto Sans JP";
    font-size: clamp(2rem, 8vw, 12rem);
    letter-spacing: 5rem;
    margin-right: -5rem;
    position: relative;
    z-index: 1;
}

.top-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* h1中央に配置 */
    width: 100vw;
    padding: 10px 0;
    background-color: var(--main-color);
    z-index: 2;
    /* h1の上に表示 */
}

.top-txt ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.top-txt ul p{
    color: var(--bg-color);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
}

/* yarn-flower/////////////////////////// */
.yarn-flower {
    padding: 10% 0;
    left: 50%;
    text-align: center;
    display: block;
    transform: rotateZ(0);
    /* 回転の起点を中心に設定 */
    transform-origin: center;
    /* アニメーションの命令 */
    animation: yarn-flowerAnime;
    animation-timeline: view();
    animation-range: contain;
}

.yarn-flower img {
    width: 25rem;
    height: auto;
}

@keyframes yarn-flowerAnime {
    from{
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(720deg);
    }
}

.middle {
    margin-top: 20%;
    width: 100vw;
}

.menu {
    width: 98vw;
    padding-left: 2vw;
    position: sticky;
    top: 50%;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.sub-title{
    margin: 0;
    padding-left: 10.5%;
}

.sub-title h3{
    align-self: stretch;
    color: var(--main-color);
    font-family: "Noto Sans JP";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; /* 23.4px */
    letter-spacing: 4px;
}

.sub-title h2 {
    align-self: stretch;
    color: var(--main-color);
    font-family: "Noto Sans JP";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 117%; /* 28.08px */
    letter-spacing: 4.8px;
}

.ideal {
    margin: 0;
    width: 100vw;
    height: 1000px;
}

.yarn 
