@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #2078CA;
    --secondary-color: #071847;
    --accent-color: #F992C9;
    --bg-color: #F9F5F1;
    --scrollbar: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
}


#top {
    margin-top: 0;
    background-image: url("../img/top.JPEG");
    background-size: cover;
    width: calc(100vw - var(--scrollbar));
    height: 80vh;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.top-title {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-title h1 {
    margin: 0;
    width: auto;
    max-width: 100%;
    color: var(--bg-color);
    font-family: "Noto Sans JP";
    font-size: clamp(2rem, 8vw, 12rem);
    letter-spacing: 5rem;
    margin-right: -5rem;
    position: relative;
    z-index: 1;
}

.top-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* h1中央に配置 */
    width: calc(100vw - var(--scrollbar));
    padding: 10px 0;
    background-color: var(--main-color);
    z-index: 2;
    /* h1の上に表示 */
}

.top-txt ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.top-txt ul p {
    color: var(--bg-color);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
}

/* yarn-flower/////////////////////////// */
#yarn-flower {
    padding: 10% 0;
    width: calc(100vw - var(--scrollbar));
    left: 50%;
    text-align: center;
    display: block;
    transform: rotateZ(0);
    /* 回転の起点を中心に設定 */
    transform-origin: center;
    /* アニメーションの命令 */
    animation: yarn-flowerAnime;
    animation-timeline: view();
    /* animation-range: contain; */
}

#yarn-flower img {
    width: 25rem;
    height: auto;
}

@keyframes yarn-flowerAnime {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(500deg);
    }
}

#middle {
    margin-top: 10%;
    width: calc(100vw - var(--scrollbar));
}

/* menu ///////////////////////////////////////*/
.nav-icon {
    display: absolute;
    position: sticky;
    margin: 0;
    top: 50%;
    padding-left: calc(2vw - var(--scrollbar));
    width: calc(98vw - var(--scrollbar));
    z-index: 10;
    background: transparent;
    cursor: pointer;
}

.nav-icon ul {
    display: flex;
    justify-content: space-between;
}

.nav-icon .minus-btn {
    display: none;
    opacity: 0;
}

.nav-icon .logo_menu {
    display: none;
    opacity: 0;
}

.nav {
    position: fixed;
    top: 45vh;
    left: 0;
    width: 100%;
    height: 55vh;
    background: var(--main-color);
    clip-path: circle(0% at 3.5rem 5.5rem);
    transition: clip-path 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9;
}

.nav.active {
    clip-path: circle(150% at 3.5rem 5.5rem);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nav-list {
    margin-top: -2%;
    padding: 0;
    list-style: none;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.nav-item {
    opacity: 0;
}

.nav.active .nav-item {
    opacity: 1;
}

.nav-link p {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: var(--secondary-color);
    text-decoration: none;
    overflow: hidden;
    font-family: "Noto Sans JP";
    font-weight: 700;
    line-height: 117%;
    /* 1.4625rem */
    letter-spacing: 0.5rem;
    transition: .3s;
}

.nav-link p:hover {
    transform: rotate(5deg);
}

/* honpen!!////////////////////////////// */
#crochet {
    width: calc(100vw - var(--scrollbar));
}

.sub-title {
    margin: 0;
    padding: 5% 10.5%;
}

.sub-title h3 {
    align-self: stretch;
    font-family: "Noto Sans JP";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    /* 23.4px */
    letter-spacing: 4px;
}

.sub-title h2 {
    align-self: stretch;
    font-family: "Noto Sans JP";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 117%;
    /* 28.08px */
    letter-spacing: 4.8px;
}

/* ideal ////////////////////////////////////////*/
#ideal {
    height: 100vh;
    width: calc(100vw - var(--scrollbar));
    margin: 0;
}

#ideal .sub-title h3 {
    color: var(--main-color);
}

#ideal .sub-title h2 {
    color: var(--main-color);
}

#ideal .caption img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 15%;
    flex-shrink: 0;
}

#ideal .caption h3 {
    color: var(--secondary-color);
    font-family: "IBM Plex Sans JP";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    /* 3.75rem */
}

#ideal .caption p {
    color: var(--secondary-color);
    text-align: justify;
    font-family: "Noto Sans JP";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 220%;
    /* 2.15rem */
    letter-spacing: 0.2rem;
    margin: 0 auto;
    max-width: 22rem;
    width: 100%;
}

#ideal .YouTube {
    position: relative;
    margin: 0 auto;
    margin-top: -2%;
    padding: 0 0 0 23%;

    img{
        position: absolute;
        margin: 0;
    }

    h3 {
        position: absolute;
        padding-right: 20%;
        padding-top: 2%;
    }

    p {
        position: absolute;
        padding-left: 8%;
        padding-top: 8%;
    }
}

#ideal .Book {
    position: relative;
    margin: 0 auto;
    padding: 5% 0 0 65%;

    img{
        position: absolute;
        margin: 0 auto;
    }

    h3 {
        margin: 0 auto;
        position: absolute;
        padding-left: 12%;
        padding-top: 2%;
    }

    p {
        position: absolute;
        padding-left: -16%;
        padding-top: 8%;
    }
}

#ideal .SNS {
    position: relative;
    margin: 0 auto;
    padding: 14% 47% 0 35%;

    img{
        position: absolute;
        margin: 0;
    }

    h3 {
        position: absolute;
        padding-right: 12%;
        padding-top: 3%;
    }

    p {
        position: absolute;
        padding-left: 8%;
        padding-top: 8%;
    }
}

/* yarn ////////////////////////////////////////*/
.yarn-bg {
    margin-left: -10vw;
    width: calc(120vw - var(--scrollbar));
    height: 150vh;
    border-radius: 25%;
    background: var(--main-color);
    position: relative;
}

#yarn {
    margin-top: -125vh;
    height: 100vh;
    width: calc(100vw - var(--scrollbar));
    background-color: var(--main-color);
    position: absolute;
    z-index: 2;
}

#yarn .sub-title h3 {
    color: var(--bg-color);
}

#yarn .sub-title h2 {
    color: var(--bg-color);
}

#yarn p {
    max-width: 46rem;
    width: 100%;
    color: var(--bg-color);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 215%;
    /* 2.15rem */
    letter-spacing: 0.2rem;
    position: absolute;
    z-index: 3;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#yarn img {
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 4;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

#yarn .yarn1 {
    padding: 0 8% 0 8%;
    margin: 0 auto;
    margin-top: -32%;
    max-width: 15rem;
    z-index: 5;
}

#yarn .yarn2 {
    padding: 0 10% 0 10%;
    margin: 0 auto;
    text-align: center;
    top: 0;
    max-width: 118rem;
    z-index: 6;
}


#yarn .rumble:active {
    display: inline-block;
    animation: rumble 0.1s;
}

@keyframes rumble {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 2px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0, 0);
    }

    75% {
        transform: translate(0, -2px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* tool ////////////////////////////////////////*/
#tool {
    height: 100vh;
    width: calc(100vw - var(--scrollbar));
    margin-top: 10%;
}

#tool .sub-title h3 {
    color: var(--main-color);
}

#tool .sub-title h2 {
    color: var(--main-color);
}

.slider {
    margin: 0 auto;
}

.slider img {
    margin: 0, auto;
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    filter: drop-shadow(5px 5px 5px #aaa);
}

.slider h2 {
    margin: 0;
    padding-top: 15%;
    align-self: stretch;
    color: var(--secondary-color);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 86%;
    /* 1.29rem */
    letter-spacing: 0.18rem;
}

.slider-tool span {
    background: linear-gradient(transparent 50%, #AEC4E3 50%);
    padding: 0 0.3em;
}

.slider p {
    margin: 0 auto;
    padding-top: 10%;
    max-width: 27rem;
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    /* 250% */
    letter-spacing: 0.12rem;
}

/* column ////////////////////////////////////////*/
#column {
    height: 100vh;
    width: calc(100vw - var(--scrollbar));
    margin-top: 10%;
}

#column .sub-title h3 {
    color: var(--main-color);

}

#column .sub-title h2 {
    color: var(--main-color);
}